@media screen and (max-width:319px) {
    h1{
        font-size: 1.5rem;
        text-align: center;
       }

    
       .formulárioClima{
        display: flex;
        flex-direction: column;
       }
    
       .container{
        transition: 0.3s ease;
        width: 200px;
       }
    
       input{
        width: 200px;
        font-size: 1rem;
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
       }
       button{
        font-size: 1rem;
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
       }
       .cidade{
        font-size: 1.5rem;
        
       }
      
    
    }
    .temperatura{
        font-size: 1rem;
        
    }
    .umidade{
        font-size: 0.6rem;
       
    
    }
    .desc{
        font-size: 0.6rem;
       
    }
    .emoji{
        font-size: 0.6rem;
        
    }
    .erro{
        font-size: 0.6rem;
        
    }






@media screen and (min-width:321px) and (max-width:480px){
    h1{
        font-size: 2rem;
        text-align: center;
       }
    
       .formulárioClima{
        display: flex;
        flex-direction: column;
       }
    
       .container{
        transition: 0.3s ease;
        width: 250px;
       }
    
       input{
        font-size: 1.5rem;
        width: 250px;
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
       }
       button{
        font-size: 1.5rem;
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
       }
      
       .cidade{
        font-size: 1.8rem;
        
       }
      
    
    }
    .temperatura{
        font-size: 1rem;
        
    }
    .umidade{
        font-size: 1rem;
       
    
    }
    .desc{
        font-size: 1rem;
       
    }
    .emoji{
        font-size: 2rem;
        
    }
    .erro{
        font-size: 1rem;
        
    }









@media screen and (min-width:481px) and (max-width:768px) {
   
    h1{
    font-size: 2.8rem;
   }

   .formulárioClima{
    display: flex;
    flex-direction: column;
   }

   .container{
    transition: 0.3s ease;
    width: 400px;
   }

   input{
    font-size: 1.8rem;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   }
   button{
    font-size: 1.8rem;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   }
   .cidade{
    font-size: 2rem;
    
   }
  

}
.temperatura{
    font-size: 1.5rem;
    
}
.umidade{
    font-size: 1.5rem;
   

}
.desc{
    font-size: 1.5rem;
   
}
.emoji{
    font-size: 3rem;
    
}
.erro{
    font-size: 1.5rem;
}
