@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f2852;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    font-family: 'Poppins';
    /* background: url(../imagens/img2.webp); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: white;
    font-size: 4rem;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.699);
}


form{
    margin-top: 40px;
}

 input{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background-color:  rgba(0, 0, 0, 0.555);;
    border: 1px solid lightblue;
    text-align: center;
}
button{
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    border: 1px solid lightblue;
    transition: 0.3s ease;
}

 button:hover{
    background-color: lightblue;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    
} 



.container{
    background:rgba(0, 0, 0, 0.637);
    color: white;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.486);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid lightblue;
    margin-top: 30px;
    transition: 0.3s ease;
    
}

.cidade{
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.671);
    margin-bottom: 10px;
}
.temperatura{
    font-size: 2rem;
    margin-bottom: 10px;
}
.umidade{
    font-size: 2rem;
    margin-bottom: 10px;

}
.desc{
    font-size: 2rem;
    margin-bottom: 10px;
}
.emoji{
    font-size: 4rem;
    margin-bottom: 10px;
}
.erro{
    font-size: 1.5rem;
}
